body {
    display:flex;
    padding: $medium-space;
    
    main {
        flex-direction: column;
        justify-content:center;
        align-items:center;
    }

    footer {
        flex-direction: row;
        justify-content: flex-end;
        align-items:center;
    }
}


