
    //COLORS
    $first_color :  rgb(93, 117, 255);
    $second_color:  rgb(158, 255, 158);
    $black: black;
    $white: white;

    //FONTS
    $main_font: roboto, sans-serif;
    $second_font: verdana, sans-serif;
    $title_size: 2rem;
    $subtitle_size: 1rem;
    $text_size: 0.8rem;

    //SPACES
    $large_space: 6%;
    $medium_space: 4%;
    $small_space: 2%;

    //