.title {
    font-family: $main_font;
    font-size: $title_size;
}

.subtitle {
    font-family: $second_font;
    font-size: $subtitle_size;
}

.current_text {
    font-family: $main_font;
    font-size: $text_size;
}

.bg-light {
    background-color:$white;
    color: $black;
}

.bg-dark .subtitle {
    background-color: $black;
    color: $white;
}

