@import  url('_reset.css');
@import url('_layout.css');
@import  url('_custom.css');

html {
    width:100vw;
    min-height:100vh;
}

.user-card {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    margin-bottom: 3%;
}

.user-card-title {

    padding: 7% 8%;
    width: 100%;
    height: 20%;
    background-color: #242424;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    box-shadow: 0 0 15px rgb(0 0 0 / 7%), inset 0 5px 81px rgb(0 0 0 / 75%)
}

.user-card-buttons {

    padding: 2% 8%;
    width: 100%;
    height: 20% !important;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:center;
    box-shadow: 0 0 15px rgb(0 0 0 / 7%), inset 0 5px 81px rgb(0 0 0 / 75%)
}


.request-card-buttons {

    padding: 2% 8%;
    width: 100%;
    height: 20% !important;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    box-shadow: 0 0 15px rgb(0 0 0 / 7%), inset 0 5px 81px rgb(0 0 0 / 75%)
}


body {
  /*   width:100%;
    height:100%; */
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background-color:  #f7f2f2;
    color: #E9FBF4;
    font-family: Arial;
    letter-spacing: 0.07em;
    box-shadow: 0 0 15px rgb(0 0 0 / 7%), inset 0 5px 81px rgb(0 0 0 / 75%)
    margin:  6% auto;

}


main {
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    background-color:  #f7f2f2;
    margin-bottom:  8%;


}
.container-buttons {
    width: 100%;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    margin-bottom: 5%;  
}

section {
    width:80vw;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

form {
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

input {
    width: 100%;
    background-color: #ffffff;
    padding: 2.3% 2%;
    letter-spacing: 0.09em;

    margin: 0.9%;
}



button {
    width: 10vw;
    background-color: #34776E;
    color: #E9FBF4;
    padding: 5% 6%;
    border-radius: 3px;
    letter-spacing: 0.09em;
    font-size: 0.75em;
}

.btn {
    width: 8vw;
    background-color: #34776E;
    color: #E9FBF4;
    padding: 1.4% 4%;
    text-align: center;
    display:flex;
    align-items: center !important;
    justify-content: center;
    border-radius: 3px;
    letter-spacing: 0.09em;
    font-size: 0.75em;
}


.btn:hover, button:hover {
    background-color: #076457;
    color:#03231F;
}

#sticky-container {
    position:relative;
}
.card {
    padding: 6% 5%;
    width: 50%;
    background-color:#042723;
    display: flex;
    flex-direction: column;
    align-items:center;
    box-shadow: rgba(9, 19, 15, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


.container {
    padding: 20% 18%;
    width: 80%;
    height: 60% !important;
    display: flex;
    flex-direction: row;
    align-items:center;
    box-shadow: rgba(9, 19, 15, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.sub-container {
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
}

.card-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center;
}


.card-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
}


.button-section {
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items:space-between;
    flex-direction: row;
    margin-top: 4%;
}


.button-section-v {
    width: 100%;
    height: 21vh;
    display:flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: column;
    margin-top: 4%;
}

h1, h3 {
    color: white;
    /* margin :  0 0 7% 0; */
}

.less-width {
    width: 80%; 
}

.mb-sm {
    margin-bottom: 3%; 
}


p {
    color: white;
}


a {
    color: #E9FBF4;
    font-size: 0.7em;
    
}

footer {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:center;
}


#footer{
    height:10vh;
    width:100%;
    background-color:#e09d9d !important;
    box-shadow: 0 0 15px rgb(0 0 0 / 7%), inset 0 5px 81px rgb(0 0 0 / 75%);
    justify-content: center;
    align-items:center;
    display: flex;
    position: fixed;
    bottom: 0;
    left:0;
}

#footer-container {
    width:80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    text-align: center;
}

#header-container {
    width:80%;
    justify-content: space-between;
    align-items:center;
    flex-direection: row;
    display: flex;

}

#header{
    height:8vh;
    width:100%;
    padding: 3.5%;
    justify-content: center;
    align-items:center;
    display: flex;
    top:0;
}


#nav_menu {
    width: 30%;
    justify-content: space-between;
    align-items:center;
    flex-direection: row;
    display: flex;
}

/* #logo_container {
    width: 30%;
    justify-content: flex-start;
    align-items:center;
    flex-direection: row;
    display: flex;
}
 */

